html,
body {
	margin: 0;
}

body {
	--light-color: oklch(85% 0.03 265);
	--accent-color: oklch(95% 0.03 265);
	font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	font-weight: 400;
	color: var(--light-color);
	background-color: oklch(21% 0.03 265);
}

a:visited {
	color: inherit;
}

a:hover {
	color: var(--accent-color);
}
